# Build output
out/
build/
*.obj
*.o
*.exe
*.pdb
*.ilk
*.lib
*.dll

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake.stamp

# Server data (player and world saves)
db/

# IDE / editor
.vs/
.vscode/
.idea/
*.user
*.suo

# OS
Thumbs.db
.DS_Store
cache/key.pem
cache/cert.pem
libraries/sqlpp11/
